<div class = info >
	<%= render partial: "users/info" %>
</div>
<table>
	<tr><th>image</th><th>name</th></tr>
<% @users.each do |user| %>
<tr>
	<td><%= attachment_image_tag user, :profile_image, :fill, 15, 15 %>
</td>
	<td><%= user.name %></td>

<td><%= link_to 'show', user_path(user.id) %></td>
</tr>
<% end %>
</table>
