
<div class ="top btn-group-vertical btn-group-sm center-block" >
		<%= link_to 'Log in', new_user_session_path, class: "btn btn-default btn-primary" %>
		<%= link_to 'sign up',new_user_registration_path, class: "btn btn-default btn-primary" %>
</div>